<div id="dashboard">

<h2>Mon tableau de bord</h2>
<nav>
<ul class="nav flex-column">
  <li class="nav-item">
    <i class="material-icons" style="color: white;">videogame_asset</i><a class="nav-link active" routerLink="mesJeux">Mes Jeux</a>
  </li>
  <li class="nav-item">
    <i class="material-icons" style="color: white;">build</i><a class="nav-link" routerLink="reparer">Jeux en réparation</a>
  </li>
  <li class="nav-item">
    <i class="material-icons" style="color: white;">add</i> <a class="nav-link" routerLink="ajouter">Ajouter un jeu</a>
  </li>
  <li class="nav-item">
    <i class="material-icons" style="color: white;">delete</i><a class="nav-link" routerLink="modifier">Modifier un jeu</a>
  </li>
  <li class="nav-item">
    <i class="material-icons" style="color: white;">how_to_reg</i><a class="nav-link" routerLink="compte">Mon compte</a>
  </li>
</ul>

</nav>

</div>
