
<div >
<div class="bartext"><div>{{jeu.title}}</div></div>
 <div class="single-thing-info">


    <img src="assets/test.jpg" style="width: 400px; height: 400px; margin-top:30px;">
    <p>Prix :{{jeu.price}} €</p>
    <p>Taille:{{jeu.taille}}</p>
    <p>Plateaux: {{jeu.plateaux}}</p>
    <p>Reference Interne: {{jeu.referenceInterne}}</p>
    <p>Description: {{jeu.description}}</p>
    <p>Alimentatioon: {{jeu.alimentations}}</p>
    <p>Etats: {{jeu.etats}}</p>
    <p>Réparation: {{jeu.reparation}}</p>


    <button (click)="onDelete()" type="button" class="btn btn-outline-dark">    <i class="material-icons" style="color: black;">delete_forever</i></button>

  </div>
</div>



